ion-input {
    font-size: 24px !important;
    font-weight: bold;
}

ion-textarea {
    font-size: 20px !important;
    line-height: 30px;
    padding-left: 10px;
}

ion-spinner {
    margin-top: 50%;
}